.backgroundImage {
    padding-top: 36px;
    padding-bottom: 56px;
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to left, rgba(2, 15, 8, 0.50) 0%, rgba(2, 15, 8, 0.50) 100%), url('/images/homeBr.jpg') ; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;        
}

